/*first page*/
main.blog_stay {
	display:flex;
	height:50vh;
	flex-grow:1;
		/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, .5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(153, 0, 0, 0), endColorstr=rgba(153, 0, 0, 0));
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(153, 0, 0, 0), endColorstr=rgba(153, 0, 0, 0))";
	text-align:center;
	position:relative;
	margin-top: calc(var(--mainFontSize)*2);
}


.blog_stay input#search {
	background-color:inherit;
	text-align:center;
	width:20vw;
	padding:0.4vw;
	border:1px solid black;
	border-radius:100px;
	margin-top:3vh;
	margin-bottom:2vh;
	outline: none;
	font-family:inherit;
	font-size:var(--mainFontSize);
}


.blog_stay .tags {
	width:52vw;
	margin-right:auto;
	margin-left:auto;
}

.blog_stay .tags li{
	display:inline;
	word-spacing:2.08vw;
	color:grey;
}

.blog_stay h1 {
	margin-top:auto;
	margin-bottom:auto;
}

.blog_stay h2 {
	margin-bottom:5vh;
	margin-top:auto;
	-ms-flex-item-align:start;
	    align-self:flex-start;
	margin-left:1.4vw;
}

main.fullheight {
    height:100vh;
}


.projects .slide.proj_slide {
	background:url('../img/prefer.png') no-repeat center bottom;
    background-size: auto 93vh;
	
}

.projects .proj_slide h1 {
	margin-bottom:25vh;
	transform: translateY(50%);
	margin-top:auto;
}

.design .slide_header_container {
	height:calc(5.8vw + 5.8vh);
	margin-top:auto;
}

.design h1.fixed {
	margin-bottom:11vh;
	
}

.store .proj_slide h1 {
	margin-bottom:25vh;
	transform: translateY(50%);
	margin-top:auto;
}

a.go {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	color:white;
	text-decoration: none;
	-ms-flex-item-align:center;
	    align-self:center;

}

a.go p {
	color:black;
	padding-bottom:calc(0.4vw + 0.4vh);
	padding-right:0.5vw;
	padding-left:0.5vw;
}


.projects .proj_slide a.go {
	margin-bottom:25vh;
}

.store .proj_slide a.go {
	margin-bottom:25vh;
}


.design main a.go {
	margin-bottom: 25vh;
}

/*pointer*/

.section.pointer header {
	margin-left:1.4vw;
	margin-top:calc(0.7vw + 0.7vh);
	z-index:11;
	-ms-flex-item-align:start;
	    align-self:flex-start;
}

header p {
	font-weight:bold;
}

main.pointer {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin-top:auto;
	margin-left:1.4vw;
	height:60vh;

}

.pointer .pointer_desc {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width:31vw;
}

.pointer_desc h2 {
	margin-bottom:0.8vw;
	margin-left:-0.2vw;
}

.pointer_desc .tabs {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom:1.5vw;
}

.pointer_desc .tabs li{
	margin-right:calc(1.5vw + 1.5vh);
}

.pointer_desc .tabs li a{
	font-weight:bold;
}

.pointer_desc .tabs li a:hover {
	border-bottom:0.3vw solid currentColor;
}

.pointer_desc .tabs li a.active {
	border-bottom:0.3vw solid currentColor;
}

.pointer_desc .desc {
	text-align: justify;
	font-weight:bold;
	display:none;
	line-height:calc(1.2vw + 1.2vh);
}

.pointer_desc .desc.active {
	display:block;
}

.pointer_desc .submenufoot {
	margin-top:auto;
	display:flex;
	flex-direction: column;
	line-height:calc(1.7vw + 1.7vh);
}

.pointer_desc .submenufoot li a{
	font-weight:bold;
}

.pointer_desc .submenufoot li a:hover{
	border-bottom:0.3vw solid black;
}

.pointer .pointer_photos {
	display:block;
	width:38vw;
	height:inherit;
	position:relative;
	margin-right:auto;
	margin-left:auto;
}

.pointer_photos .slide.photka {
	background:url('../img/backpack.png') center center no-repeat;
    background-size: contain;
	
}

.pointer .slidedotsf {
	bottom:0!important;
}

.pointer .grid_cont {
	margin-bottom: auto;
	margin-left:auto;
	margin-right:auto;
}

.pointer .grid {
	display:grid;
	transform:rotate(15deg);
	grid-template-columns:repeat(3,calc(9vw + 9vh));
	grid-template-rows:repeat(3,calc(5vw + 5vh));
	grid-gap: calc(1vw + 1vh);
	width:auto;
	transform-origin: left bottom;
}

.pointer .grid .cell {
	background:url('../img/biscard.png') no-repeat center center;
	background-size: contain;
}

.pointer .vspliv {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
	z-index:100;
}

.vspliv main.pointer {
	margin-bottom:auto;
}

.vspliv .some_content {
	width:60vw;
	height:auto;
	margin-left:auto;
}

.pointer .closeButtonVspliv {
	position: absolute;
	right:1vw;
	top:1.4vw;
	font-size:calc(var(--mainFontSize)*1.2);
	cursor: pointer;
}


/*footer*/

footer {
	position:relative;
	width:100vw;
	margin-top:auto;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	margin-bottom:2vh;
	margin-top:4vh;
}

footer p.feels {
	position:absolute;
	top:0;
	left:1.4vw;
	max-width:40vw;
	text-align-last: center;
	font-weight: bold;
	font-style: normal;
}

.section.pointer footer {
	margin-top:auto;
}

footer a {
    text-decoration:none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}


footer span {
	display:inline-block;
	margin-bottom:0.7vw;
}

footer img.arrow {
	width:2.083vw;
}